html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: 100% auto; /* width height*/
}

body,html {
  margin: 0;
  padding: 0;
  font-family: monospace; /* Generic font family - ieterate over available fonts until find particular character */
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh; /* 100% of viewpoint height */
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 7.5rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  color: rgb(253, 115, 115);
  border-color: rgb(253, 115, 115);
  box-shadow: 0 0 1rem rgb(253, 115, 115);
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color:rgb(115, 186, 253);
}
